In [1]:
import pandas as pd
regional_df=pd.read_csv("Resources/regional_data.csv",encoding='unicode_escape')
print(regional_df.head())

   rank                     Artists  \
0     1                   Kate Bush
1     2                Harry Styles
2     3            Bizarrap Quevedo
3     4  Bad Bunny Chencho Corleone
4     5                        Joji

                                          track_name  \
0  Running Up That Hill A Deal With God 2018 Rema...
1                                          As It Was
2                 Quevedo Bzrp Music Sessions Vol 52
3                                    Me Porto Bonito
4                                      Glimpse of Us

                          source  peak_rank  previous_rank  weeks_on_chart  \
0                          Rhino          1              1               7
1                       Columbia          1              2              15
2              DALE PLAY Records          3             -1               1
3        Rimas Entertainment LLC          2              4              10
4  88rising Music Warner Records          1              3               5

    streams
0  46609146
1  44759969
2  38443942
3  38042392
4  34930156

In [12]:
#drop rank, uri, track_name, source,peak_rank, previous_rank, & weeks on chart
new_regional_df = regional_df.drop(['rank','track_name','source','peak_rank','previous_rank'], axis=1)
new_regional_df.head(10)

                      Artists  weeks_on_chart   streams
0                   Kate Bush               7  46609146
1                Harry Styles              15  44759969
2            Bizarrap Quevedo               1  38443942
3  Bad Bunny Chencho Corleone              10  38042392
4                        Joji               5  34930156
5                   Bad Bunny              10  32423071
6     Bad Bunny Bomba Estereo              10  28065267
7                   Bad Bunny              10  26558071
8                   Bad Bunny              10  23671403
9  Charlie Puth BTS Jung Kook               3  22173100

In [13]:
genre_df=pd.read_csv("Resources/genre.csv",encoding='unicode_escape')
print(genre_df.head())

                      Artists  \
0                   Kate Bush
1                Harry Styles
2            Bizarrap Quevedo
3  Bad Bunny Chencho Corleone
4                        Joji

                                       artist_genres
0  ['art pop', 'art rock', 'baroque pop', 'new wa...
1                                            ['pop']
2  ['argentine hip hop', 'pop venezolano', 'trap ...
3              ['latin', 'reggaeton', 'trap latino']
4                                      ['viral pop']

In [14]:
#merge 2 dfs by artists names
combo_list = pd.merge(new_regional_df,genre_df, left_on='Artists',right_on='Artists',how='left')

In [15]:
#creating a new csv
combo_list.to_csv('Resources/combo_list.csv',index=False)

In [16]:
#merging duplicates & creating csv
new_combo_list = pd.read_csv('Resources/combo_list.csv')
new_combo_list = combo_list.drop_duplicates(subset='Artists')
new_combo_list.to_csv('Resources/new_combo_list.csv')

In [17]:
#clustering data
import plotly.express as px
import hvplot.pandas
from sklearn.cluster import KMeans

In [18]:
#elbow curve