In [1]:
import pandas as pd
regional_df=pd.read_csv("Resources/regional_data.csv",encoding='unicode_escape')
print(regional_df.head())

   rank                     Artists  \
0     1                   Kate Bush
1     2                Harry Styles
2     3            Bizarrap Quevedo
3     4  Bad Bunny Chencho Corleone
4     5                        Joji

                                          track_name  \
0  Running Up That Hill A Deal With God 2018 Rema...
1                                          As It Was
2                 Quevedo Bzrp Music Sessions Vol 52
3                                    Me Porto Bonito
4                                      Glimpse of Us

                          source  peak_rank  previous_rank  weeks_on_chart  \
0                          Rhino          1              1               7
1                       Columbia          1              2              15
2              DALE PLAY Records          3             -1               1
3        Rimas Entertainment LLC          2              4              10
4  88rising Music Warner Records          1              3               5

    streams
0  46609146
1  44759969
2  38443942
3  38042392
4  34930156

In [2]:
#drop rank, uri, track_name, source,peak_rank, previous_rank, & weeks on chart
new_regional_df = regional_df.drop(['rank','track_name','source','peak_rank','previous_rank'], axis=1)
new_regional_df.head(10)

                      Artists  weeks_on_chart   streams
0                   Kate Bush               7  46609146
1                Harry Styles              15  44759969
2            Bizarrap Quevedo               1  38443942
3  Bad Bunny Chencho Corleone              10  38042392
4                        Joji               5  34930156
5                   Bad Bunny              10  32423071
6     Bad Bunny Bomba Estereo              10  28065267
7                   Bad Bunny              10  26558071
8                   Bad Bunny              10  23671403
9  Charlie Puth BTS Jung Kook               3  22173100

In [3]:
full_dataset_df=pd.read_csv("Resources/full_dataset.csv",encoding='unicode_escape')
print(full_dataset_df.head())

   ï»¿rank                                   uri       Artists  \
0        1  spotify:track:0bAkKNCQfWkexHFn7fIKns         Drake
1        1  spotify:track:0TK2YIli7K1leLovkQiNik  Shawn Mendes
2        1  spotify:track:3Wrjm47oTz2sjIgck11l5e      Maneskin
3        1  spotify:track:75FEaRjZTKLhTrFGsfMUXR     Kate Bush
4        1  spotify:track:7ytR5pFWmSjzHJIeQkgog4        DaBaby

                                          track_name              source  \
0                                     In My Feelings          Cash Money
1                                           Senorita      Island Records
2                                             Beggin         RCA Records
3  Running Up That Hill A Deal With God 2018 Rema...               Rhino
4                          ROCKSTAR feat Roddy Ricch  Interscope Records

   peak_rank  previous_rank  weeks_on_chart   streams artist_genres       week
0          1              1               3  67499798       hip hop  7/19/2018
1          1              1               4  64942021           pop  7/18/2019
2          1              1               6  52160401           pop  7/15/2021
3          1              1               7  46609146           pop  7/14/2022
4          1              1              13  36999793           pop  7/16/2020

In [4]:
new_genre_df = full_dataset_df.drop(['ï»¿rank','uri','week'], axis=1)
new_genre_df.head(10)

,Artists,track_name,source,peak_rank,previous_rank,weeks_on_chart,streams,artist_genres
0,Drake,In My Feelings,Cash Money,1,1,3,67499798,hip hop
1,Shawn Mendes,Senorita,Island Records,1,1,4,64942021,pop
2,Maneskin,Beggin,RCA Records,1,1,6,52160401,pop
3,Kate Bush,Running Up That Hill A Deal With God 2018 Rema...,Rhino,1,1,7,46609146,pop
4,DaBaby,ROCKSTAR feat Roddy Ricch,Interscope Records,1,1,13,36999793,pop
5,Ed Sheeran,I Dont Care with Justin Bieber,Atlantic Records,1,3,10,38459324,pop
6,Jawsh 685,Savage Love Laxed Siren Beat,Columbia,2,2,5,34262951,pop
7,Harry Styles,As It Was,Columbia,1,2,15,44759969,pop
8,Olivia Rodrigo,good 4 u,Olivia Rodrigo PS,1,2,9,46014325,pop
9,Ariana Grande,God is a woman,Republic Records,2,-1,1,29847494,pop

In [5]:
#creating a new csv
new_genre_df.to_csv('Resources/list.csv',index= True)

In [6]:
list_df=pd.read_csv("Resources/list.csv",encoding='unicode_escape')

In [7]:
dummy_list_df = pd.get_dummies(list_df['artist_genres'])
print(dummy_list_df)

     Indie Rock  R and B  afrofuturism  afroswing  alternative rock  arrocha  \
0             0        0             0          0                 0        0
1             0        0             0          0                 0        0
2             0        0             0          0                 0        0
3             0        0             0          0                 0        0
4             0        0             0          0                 0        0
..          ...      ...           ...        ...               ...      ...
995           0        0             0          0                 0        0
996           0        0             0          0                 0        0
997           0        0             0          0                 0        0
998           0        0             0          0                 0        0
999           0        0             0          0                 0        0

     chicago house  chicago indie  classical  country  ...  rock  sad lo-fi  \
0                0              0          0        0  ...     0          0
1                0              0          0        0  ...     0          0
2                0              0          0        0  ...     0          0
3                0              0          0        0  ...     0          0
4                0              0          0        0  ...     0          0
..             ...            ...        ...      ...  ...   ...        ...
995              0              0          0        0  ...     0          0
996              0              0          0        0  ...     0          0
997              0              0          0        0  ...     0          0
998              0              0          0        0  ...     0          0
999              0              0          0        0  ...     0          0

     sleep  trap argentino  trap colombiano  trap latino  tropical house  \
0        0               0                0            0               0
1        0               0                0            0               0
2        0               0                0            0               0
3        0               0                0            0               0
4        0               0                0            0               0
..     ...             ...              ...          ...             ...
995      0               0                0            0               0
996      0               0                0            0               0
997      0               0                0            0               0
998      0               0                0            0               0
999      0               0                0            0               0

     urbano chileno  waiata mo tamariki  weirdcore
0                 0                   0          0
1                 0                   0          0
2                 0                   0          0
3                 0                   0          0
4                 0                   0          0
..              ...                 ...        ...
995               0                   0          0
996               0                   0          0
997               0                   0          0
998               0                   0          0
999               0                   0          0

[1000 rows x 36 columns]

In [19]:
#merging back to the previous df
list_df =pd.merge(left=list_df, right=dummy_list_df,left_index=True,right_index=True,)

In [26]:
clean_list_df = list_df.drop(['Unnamed: 0','artist_genres'], axis=1)

In [27]:
print(clean_list_df)

                    Artists  \
0                     Drake
1              Shawn Mendes
2                  Maneskin
3                 Kate Bush
4                    DaBaby
..                      ...
995                  Avicii
996          Julia Michaels
997  A Boogie Wit da Hoodie
998                Juanfran
999                   Oasis

                                            track_name  \
0                                       In My Feelings
1                                             Senorita
2                                               Beggin
3    Running Up That Hill A Deal With God 2018 Rema...
4                            ROCKSTAR feat Roddy Ricch
..                                                 ...
995                                         The Nights
996                             Jump with Trippie Redd
997                                    Look Back at It
998                                         Como Llora
999                             Wonderwall  Remastered

                         source  peak_rank  previous_rank  weeks_on_chart  \
0                    Cash Money          1              1               3
1                Island Records          1              1               4
2                   RCA Records          1              1               6
3                         Rhino          1              1               7
4            Interscope Records          1              1              13
..                          ...        ...            ...             ...
995         Universal Music LLC         44            187              70
996            Republic Records        146             -1               4
997            Atlantic Records         20            171              30
998                   DN7 Music        192            192               2
999  Big Brother Recordings Ltd        152             -1             100

      streams  Indie Rock_x  R and B_x  afrofuturism_x  ...  rock  sad lo-fi  \
0    67499798             0          0               0  ...     0          0
1    64942021             0          0               0  ...     0          0
2    52160401             0          0               0  ...     0          0
3    46609146             0          0               0  ...     0          0
4    36999793             0          0               0  ...     0          0
..        ...           ...        ...             ...  ...   ...        ...
995   5536726             0          0               0  ...     0          0
996   3913593             0          0               0  ...     0          0
997   4465519             0          0               0  ...     0          0
998   4534139             0          0               0  ...     0          0
999   4938180             0          0               0  ...     0          0

     sleep  trap argentino  trap colombiano  trap latino  tropical house  \
0        0               0                0            0               0
1        0               0                0            0               0
2        0               0                0            0               0
3        0               0                0            0               0
4        0               0                0            0               0
..     ...             ...              ...          ...             ...
995      0               0                0            0               0
996      0               0                0            0               0
997      0               0                0            0               0
998      0               0                0            0               0
999      0               0                0            0               0

     urbano chileno  waiata mo tamariki  weirdcore
0                 0                   0          0
1                 0                   0          0
2                 0                   0          0
3                 0                   0          0
4                 0                   0          0
..              ...                 ...        ...
995               0                   0          0
996               0                   0          0
997               0                   0          0
998               0                   0          0
999               0                   0          0

[1000 rows x 115 columns]

In [30]:
clean_list_df.to_csv('Resources/list.csv',index= True)